# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# PyInstaller build artifacts (keep final EnLangInstaller.exe)
build/
*.spec

# Distribution / packaging
*.egg-info/
.eggs/

# IDE / Editor files
.vscode/
.idea/
*.swp
*.swo

# OS files
Thumbs.db
Desktop.ini
